@model SFA.Models.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*<link rel="icon" href="~/images/favicon.ico" type="image/png" sizes="16x16">*@
    <title>Sales Force Automation (SFA) - User Login</title>
    <link href="~/styles/fonts/play/play.css" rel="stylesheet">
    @*<link href="//db.onlinewebfonts.com/c/cb8d4d30de89efdc96a98761ede26d3d?family=Mongolian+Baiti" rel="stylesheet"/>*@
    @*<link href="~/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/styles/themify-icons.css" rel="stylesheet" />
    <link href="~/styles/style.css" rel="stylesheet" />
    <style>


        ol, ul {
            list-style: none;
        }

        .box {
            position: absolute;
            width: 30%;
            /*background: #000;*/
            background-color: rgba(255, 255, 255, .9);
            right: 0;
            top: 0;
            bottom: 0;
            border-left: 1px solid #eeeeee;
        }

        .info-box {
            position: absolute;
            width: 30%;
            background-color: transparent;
            right: 30%;
            top: 0;
            bottom: 0;
            padding-top: 100px;
        }

            .info-box ul {
                padding-left: 0px;
                padding-right: 40px;
            }

                .info-box ul li {
                    list-style-type: none;
                    padding: 6px 0px;
                    border-bottom: 1px solid #eee;
                }

                    .info-box ul li i {
                        width: 32px;
                    }

        .login-box {
            position: absolute;
            margin: 0;
            left: 50%;
            top: 30%;
            -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%-30%);
            text-align: center;
            /*color: #fff;*/
            width: 80%;
        }

            .login-box img {
                /*border-radius: 50%;*/
                /*margin-bottom: 20px;*/
                margin-bottom: 10px;
            }

        .effect8 {
            position: relative;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }

            .effect8:before, .effect8:after {
                content: "";
                position: absolute;
                z-index: -1;
                -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
                -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
                box-shadow: 0 0 20px rgba(0,0,0,0.8);
                top: 10px;
                bottom: 10px;
                left: 0;
                right: 0;
                -moz-border-radius: 100px / 10px;
                border-radius: 100px / 10px;
            }

            .effect8:after {
                right: 10px;
                left: auto;
                -webkit-transform: skew(8deg) rotate(3deg);
                -moz-transform: skew(8deg) rotate(3deg);
                -ms-transform: skew(8deg) rotate(3deg);
                -o-transform: skew(8deg) rotate(3deg);
                transform: skew(8deg) rotate(3deg);
            }

        .floating-label {
            position: relative;
            margin-bottom: 20px;
        }

        .floating-input, .floating-select {
            font-size: 14px;
            padding: 4px 4px;
            display: block;
            width: 100%;
            height: 30px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #757575;
        }

            .floating-input:focus, .floating-select:focus {
                outline: none;
                border-bottom: 2px solid #5264AE;
            }

        label {
            color: #999;
            font-size: 14px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 5px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
            top: -18px;
            font-size: 14px;
            color: #5264AE;
        }

        .floating-select:focus ~ label, .floating-select:not([value=""]):valid ~ label {
            top: -18px;
            font-size: 14px;
            color: #5264AE;
        }

        /* active state */
        .floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
            width: 50%;
        }

        *, *:before, *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .floating-textarea {
            min-height: 30px;
            max-height: 260px;
            overflow: hidden;
            overflow-x: hidden;
        }

        /* highlighter */
        .highlight {
            position: absolute;
            height: 50%;
            width: 100%;
            top: 15%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }

        /* active state */
        .floating-input:focus ~ .highlight, .floating-select:focus ~ .highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
        }

        /* animation */
        @@-webkit-keyframes inputHighlighter {
            from {
                background: #5264AE;
            }

            to {
                width: 0;
                background: transparent;
            }
        }

        @@-moz-keyframes inputHighlighter {
            from {
                background: #5264AE;
            }

            to {
                width: 0;
                background: transparent;
            }
        }

        @@keyframes inputHighlighter {
            from {
                background: #5264AE;
            }

            to {
                width: 0;
                background: transparent;
            }
        }

        /****  floating-Lable style end ****/

        button {
            border: 0;
            background: none;
            box-shadow: none;
            border-radius: 0px;
            background-color: steelblue;
            /*padding: 10px 40px;*/
            color: #fff;
            cursor: pointer;
        }



        .demo1 {
            font-size: 1.2em;
            font-weight: bold;
            color: #333;
            text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
        }

        .red {
            color: #8B0000;
        }
    </style>
</head>
<body>
    <div class="body-overlay-wraper"></div>
    <div class="login-wraper">
        <div class="login-grid">
            <div class="logo">
                @*<img src="~/images/dar_logo.png" />
                <div style="font-size:x-large;font-weight:bold;color:#e73140;margin-bottom:10px;font-family: Mongolian Baiti">V I J A Y</div>*@
                <h2 style="color:blueviolet">Sales Force Automation</h2>
            </div>
            <div class="form-grid">
                <h3>LOGIN TO YOUR ACCOUNT</h3>
                <form asp-controller="Login" asp-action="Validate">
                    @if (TempData["ERRMSG"] != null)
                    {
                        <div class="form-group">
                            <p class="red">@(TempData["ERRMSG"])</p>
                            <p>&nbsp;</p>
                        </div>
                    }
                    <div class="floating-label">
                        <input class="floating-input" type="text" placeholder=" " asp-for="Email" required>
                        <span class="highlight"></span>
                        <label>Email <span class="red">*</span></label>
                    </div>
                    <div class="floating-label">
                        <input class="floating-input" type="password" placeholder=" " asp-for="Password" required>
                        <span class="highlight"></span>
                        <label>Password <span class="red">*</span></label>
                    </div>
                    <button class="login-btn" type="submit"><span class="ti-unlock"></span> LOG IN</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>