@{
    ViewData["Title"] = "Role Wise Menu";
}
<div data-ng-controller="roleMenuController">
    <form name="form">
        <!--Topbar section-->
        <div class="topbar">
            <div class="md-toolbar-tools" layout="row">
                <div class="topbar-title" flex>
                    <h2>Role Wise Menu</h2>
                    <i class="vertical-seperator" hide-sm hide-xs>&nbsp;</i>
                    <span hide-sm hide-xs><a href="/home">Home</a> / <a href="/nav/systemAdmin">System Management</a> / Role Menu</span>
                </div>
            </div>
        </div>
        <!--//End Topbar section-->
        <div class="container">
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>Role</label>
                    <md-select ng-model="roleMenu.roleId" required ng-change="getMenu()">
                        <md-option ng-repeat="role in roles" ng-value="role.id">{{role.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column class="center">Sl No</th>
                        <th md-column class="center"><span>Name</span></th>
                        <th md-column class="center"><span>HasReadAccess</span></th>
                        <th md-column class="center"><span>HasWriteAccess</span></th>
                        <th md-column class="center"><span>HasFullAccess</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr class="md-row md-row-empty" ng-show="roleMenu.menus.length === 0">
                        <td class="md-cell" colspan="5">No Data Found</td>
                    </tr>
                    <tr md-row data-ng-repeat="menu in roleMenu.menus track by $index">
                        <td md-cell class="center">{{$index+1}}</td>
                        <td md-cell class="center">{{menu.name}}</td>
                        <td md-cell class="center">
                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="menu.hasReadAccess">
                                </md-checkbox>
                            </md-input-container>
                        </td>
                        <td md-cell class="center">
                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="menu.hasWriteAccess">
                                </md-checkbox>
                            </md-input-container>
                        </td>
                        <td md-cell class="center">
                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="menu.hasFullAccess">
                                </md-checkbox>
                            </md-input-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <div class="container">
            <div layout="row" layout-sm="column" layout-xs="column" layout-align="center center">
                <md-button class="save-btn" aria-label="Save" data-ng-click="save()" data-ng-disabled="form.$invalid">
                    <md-tooltip>Save</md-tooltip>
                    <i class="far fa-save"></i> Save
                </md-button>
                <md-button class="cancel-btn" aria-label="Cancel" data-ng-click="backToList()">
                    <md-tooltip>Cancel</md-tooltip>
                    <i class="fas fa-reply"></i> Cancel
                </md-button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script src="~/scripts/services/roleService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/roleMenuService.js" asp-append-version="true"></script>
    <script src="~/scripts/controllers/roleMenuController.js" asp-append-version="true"></script>
}