@{
    ViewData["Title"] = (ViewBag.Id == null ? "Add" : "Edit") + " User";
}
<div data-ng-controller="userController">
    <form name="form">
        <div class="topbar">
            <div class="md-toolbar-tools" layout="row">
                <div class="topbar-title" flex>
                    <h2>Details</h2>
                    <i class="vertical-seperator" hide-sm hide-xs>&nbsp;</i>
                    <span hide-sm hide-xs><a href="/home">Home</a> / <a href="/nav/systemAdmin">System Management</a> / <a href="/user">Users</a> / Details</span>
                </div>
                <div flex="none">
                    <md-button class="add-btn" aria-label="Back to List" data-ng-click="backToList()">
                        <md-tooltip>Back to List</md-tooltip>
                        <i class="ti-angle-double-left"></i>
                    </md-button>
                </div>
            </div>
        </div>
        <div class="container">
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <input type="hidden" value="@ViewBag.Id" ng-model="id" />
                    <label>Name</label>
                    <input name="name" ng-model="user.name" maxlength="50" required>
                    <div ng-messages="form.name.$error" md-auto-hide="false">
                        <div ng-message="required">User Name is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Role</label>
                    <md-select name="role" ng-model="user.roleId" required>
                        <md-option ng-repeat="role in roles" ng-value="role.id">{{role.name}}</md-option>
                    </md-select>
                    <div ng-messages="form.role.$error" md-auto-hide="false">
                        <div ng-message="required">User Role is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Password</label>
                    <input name="password" ng-model="user.password" required>
                    <div ng-messages="form.password.$error" md-auto-hide="false">
                        <div ng-message="required">Menu Password is required</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container class="md-block" flex>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="user.email" required>
                    <div ng-messages="form.email.$error" md-auto-hide="false">
                        <div ng-message="required">Menu Email is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <md-checkbox ng-model="user.isActive" id="active" aria-label="active">
                        Active ?
                    </md-checkbox>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <md-checkbox ng-model="user.isSuperAdmin" id="active" aria-label="active">
                        Super Admin ?
                    </md-checkbox>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center">
                <md-button class="save-btn" aria-label="Save" data-ng-click="save()" data-ng-disabled="form.$invalid || isDisabled">
                    <md-tooltip>Save</md-tooltip>
                    <i class="far fa-save"></i> Save
                </md-button>
                <md-button class="cancel-btn" aria-label="Cancel" data-ng-click="backToList()">
                    <md-tooltip>Cancel</md-tooltip>
                    <i class="fas fa-reply"></i> Cancel
                </md-button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/scripts/services/roleService.js" asp-append-version="true"></script>
    <script src="~/scripts/services/userService.js" asp-append-version="true"></script>
    <script src="~/scripts/controllers/userController.js" asp-append-version="true"></script>
}