<div ng-init="popoulateOutstanding()" ng-if="accessCode === 'A' || accessCode === 'C' || accessCode === 'B'">
    <table class="dashboard-table">
        <thead>
            <tr>
                <th colspan="5" style="text-align:center;color: #000;font-size: 1.5em;background-color: white;">Outstanding</th>
            </tr>
            <tr>
                <th></th>
                <th>Branch Name</th>
                <th>No of LO's</th>
                <th>No of Borrowers</th>
                <th>Outstanding Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="branch in branches track by $index" ng-click="popoulateOutstandingByBranch(branch.branchId, branch.expanded)">
                <td>
                    <button class="drill-btn" ng-click="collapseBranchAll($index)">
                        <span ng-bind="branch.expanded ? '-' : '+'"></span>
                    </button>
                </td>
                <td>{{branch.branchName}}</td>
                <td style="text-align:center;">{{branch.loCount}}</td>
                <td style="text-align:center;">{{branch.activeBorrowers}}</td>
                <td style="text-align:center;">{{branch.outstanding}}</td>
            </tr>
            <tr ng-repeat-end ng-show="branch.expanded">
                <td></td>
                <td colspan="7">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>LO Name</th>
                                <th>No of CP</th>
                                <th>No of Borrowers</th>
                                <th>Outstanding Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="loanOfficer in loanOfficers track by $index" ng-click="popoulateOutstandingByLO(loanOfficer.loId, loanOfficer.expanded)">
                                <td style="width:2%;">
                                    <button class="drill-btn" ng-click="collapseLoanOfficerAll($index)">
                                        <span ng-bind="loanOfficer.expanded ? '-' : '+'"></span>
                                    </button>
                                </td>
                                <td>{{loanOfficer.loName}}</td>
                                <td style="text-align:center;">{{loanOfficer.cpCount}}</td>
                                <td style="text-align:center;">{{loanOfficer.activeBorrowers}}</td>
                                <td style="text-align:center;">{{loanOfficer.outstanding}}</td>
                            </tr>
                            <tr ng-repeat-end ng-show="loanOfficer.expanded">
                                <td></td>
                                <td colspan="6">
                                    <table class="dashboard-table-3rd">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>CP Name</th>
                                                <th>Collection Day</th>
                                                <th>No of Borrowers</th>
                                                <th>Outstanding Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="cp in collectionPoints track by $index" ng-click="popoulateOutstandingByCP(cp.cpId, cp.expanded)">
                                                <td style="width:2%;">
                                                    <button class="drill-btn" ng-click="collapseCpAll($index)">
                                                        <span ng-bind="cp.expanded ? '-' : '+'"></span>
                                                    </button>
                                                </td>
                                                <td>{{cp.cpName}}</td>
                                                <td style="text-align:center;">{{cp.collectionDay}}</td>
                                                <td style="text-align:center;">{{cp.activeBorrowers}}</td>
                                                <td style="text-align:center;">{{cp.outstanding}}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-show="cp.expanded">
                                                <td></td>
                                                <td colspan="5">
                                                    <table class="dashboard-table-4th">
                                                        <thead>
                                                            <tr>
                                                                <th>Borrower Name</th>
                                                                <th>Loan Bond No</th>
                                                                <th>Loan Date</th>
                                                                <th>Loan Product</th>
                                                                <th>Loan Amount</th>
                                                                <th>NEFT Amount</th>
                                                                <th>Pri Collected Amount</th>
                                                                <th>Outstanding Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="member in members track by $index">
                                                                <td>{{member.borrowerName}}</td>
                                                                <td>{{member.loanBondNo}}</td>
                                                                <td>{{member.loanDate | date:'dd-MMM-yyyy'}}</td>
                                                                <td>{{member.loanProductName}}</td>
                                                                <td style="text-align:right;">{{member.loanAmount}}</td>
                                                                <td style="text-align:right;">{{member.disburseAmount}}</td>
                                                                <td style="text-align:right;">{{member.priCollection}}</td>
                                                                <td style="text-align:right;">{{member.outstanding}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-init="popoulateOutstandingByBranch(null, true)" ng-if="accessCode === 'I'">
    <table class="dashboard-table">
        <thead>
            <tr>
                <th colspan="5" style="text-align:center;color: #000;font-size: 1.5em;background-color: white;">Outstanding</th>
            </tr>
            <tr>
                <th></th>
                <th>LO Name</th>
                <th>No of CP</th>
                <th>No of Borrowers</th>
                <th>Outstanding Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="loanOfficer in loanOfficers track by $index" ng-click="popoulateOutstandingByLO(loanOfficer.loId, loanOfficer.expanded)">
                <td style="width:2%;">
                    <button class="drill-btn" ng-click="collapseLoanOfficerAll($index)">
                        <span ng-bind="loanOfficer.expanded ? '-' : '+'"></span>
                    </button>
                </td>
                <td>{{loanOfficer.loName}}</td>
                <td style="text-align:center;">{{loanOfficer.cpCount}}</td>
                <td style="text-align:center;">{{loanOfficer.activeBorrowers}}</td>
                <td style="text-align:center;">{{loanOfficer.outstanding}}</td>
            </tr>
            <tr ng-repeat-end ng-show="loanOfficer.expanded">
                <td></td>
                <td colspan="6">
                    <table class="dashboard-table-3rd">
                        <thead>
                            <tr>
                                <th></th>
                                <th>CP Name</th>
                                <th>Collection Day</th>
                                <th>No of Borrowers</th>
                                <th>Outstanding Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="cp in collectionPoints track by $index" ng-click="popoulateOutstandingByCP(cp.cpId, cp.expanded)">
                                <td style="width:2%;">
                                    <button class="drill-btn" ng-click="collapseCpAll($index)">
                                        <span ng-bind="cp.expanded ? '-' : '+'"></span>
                                    </button>
                                </td>
                                <td>{{cp.cpName}}</td>
                                <td style="text-align:center;">{{cp.collectionDay}}</td>
                                <td style="text-align:center;">{{cp.activeBorrowers}}</td>
                                <td style="text-align:center;">{{cp.outstanding}}</td>
                            </tr>
                            <tr ng-repeat-end ng-show="cp.expanded">
                                <td></td>
                                <td colspan="5">
                                    <table class="dashboard-table-4th">
                                        <thead>
                                            <tr>
                                                <th>Borrower Name</th>
                                                <th>Loan Bond No</th>
                                                <th>Loan Date</th>
                                                <th>Loan Product</th>
                                                <th>Loan Amount</th>
                                                <th>NEFT Amount</th>
                                                <th>Pri Collected Amount</th>
                                                <th>Outstanding Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="member in members track by $index">
                                                <td>{{member.borrowerName}}</td>
                                                <td>{{member.loanBondNo}}</td>
                                                <td>{{member.loanDate | date:'dd-MMM-yyyy'}}</td>
                                                <td>{{member.loanProductName}}</td>
                                                <td style="text-align:right;">{{member.loanAmount}}</td>
                                                <td style="text-align:right;">{{member.disburseAmount}}</td>
                                                <td style="text-align:right;">{{member.priCollection}}</td>
                                                <td style="text-align:right;">{{member.outstanding}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
