@{
    ViewData["Title"] = "Home";
}

<md-card>    
    <md-card-title style="text-align:center;color:blue;">
        <md-card-title-text>
            <span class="md-headline">WelCome: @DateTime.Now.ToString("dddd, dd MMMM yyyy")</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon md-svg-icon="img/icons/baseline-share-24px.svg"></md-icon>
            </md-button>
        </md-card-icon-actions>
    </md-card-actions>
    <md-card-content>
        <p>
            
        </p>
    </md-card-content>
</md-card>